.jumbotron{
    background-image: url(../img/laptop1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}



/*body{
    background-image: url(../img/morningStars.gif);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    
   
}
*/
.navbar-custom{
    box-shadow: 5px 10px 20px rgba(36, 35, 35, 0.884);
    font-size: 20px;;
}
body { 
    background: #ccc6c6; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .row{
      margin-right: 0;
      border-radius: 15px;
      background-color: #FFFFFF;
  }
  .card{
     margin-bottom: 20px;
     margin-right: 10px;
  }

  .card, .card-img-top{
      border-radius: 15px;
  }

  button ,.jumbotron, .card{
    box-shadow: 5px 5px 5px black;
  }
#transparentBg{
    background: rgba(14, 19, 16, 0.479);
    height: 100%;
    overflow: hidden;
    width: 100%;
}



strong{
    color: orange;
}

.socialIcons{
    width: 50px;
}

.nav-link, small{
    color: black;
}
