/* ================================= 
  Media Queries
==================================== */
.secondary{
    display: flex;
    
}

.main-header{
    flex-direction: column;
    align-items: center;
}


.col{
    flex-grow: 1;       
}
.secondary{
    flex-wrap: wrap;
}

.side-img{
    flex-grow: 1;
    width: 48%;
}
@media (min-width: 769px)
{
    .main-header,
    .main-nav,
    .masterrow,
    .row2,
    .secondary{
        display: flex;
        
    }

    .main-header{
        flex-direction: column;
        align-items: center;
    }


    .col{
        flex-grow: 1;       
    }
    .secondary{
        flex-wrap: wrap;
    }

    .side-img{
        flex-grow: 1;
        width: 48%;
    }


      

}