@media (min-width: 769px){
    
.nav,
.main-nav,
row,
.secondary{
    display: flex;
}

.main-nav{
    flex-grow: 1;
    justify-content: space-between;
}

row{
    
}
.col{
    flex-grow: 1;
    
}
.container{
    width: 80%;
		margin: 0 auto;
}
ul{
    list-style-type: none;
    
}

}

@media (min-width: 1500px){
    
.nav,
.main-nav,
row,
.secondary{
    display: flex;
}

.main-nav{
    flex-grow: 1;
    justify-content: space-between;
}

row{
    flex-wrap: nowrap;
}

.col{
    flex-grow: 1;
    flex-basis: 50%;
}
.container{
    width: 80%;
		margin: 0 auto;
}
ul{
    list-style-type: none;
    
}

}