*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .row,
  footer
  {
      display: flex;
     
  }



  .col{
      flex-grow: 1;
      flex-basis: 200px;
     
     
  }


  .col2{
    flex-grow: 1;
    
   
   
}

  .secondary{
      flex-grow: .1;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
    background-color: white;
    margin: 0;
    
  }

  .container{
      width: 90%;
      margin:auto;
  }
  
  table {
    width: 100%;
    margin: auto;
    margin-bottom: 20%;
    box-shadow: 10px 10px 100px grey;
    border-radius: 15px 15px 0px 0px;
    table-layout: fixed;
    
  }
  
  caption {
    font-size: 1.6em;
    font-weight: 400;
    padding: 10px 0;
  }
  
  thead, th{
    font-weight: 1000;
    background:#17A2B8;
    color: #FFF;
   
  }
  
  h1{
      color:#17A2B8;
  }
  tr {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
    border-radius: 0px 0px 15px 15px;
  }
  
  tr:nth-child(even) {
    background: #E0F8FC;
  }
  
  th, td {
    text-align: left;
    padding: 20px;
    word-wrap:break-word;
   
  }

  th{
    border-radius: 15px 15px 0px 0px;
    
  }

  .tdRightSide{
      text-align: center;
  }
  
  tfoot tr {
    background: none;
  }
  
  tfoot td {
    padding: 10px 2px;
    
    font-style: italic;
    color: #8a97a0;
  }
  
  .textInput, .button{
      padding: 20px;
      box-shadow: 10px 10px 100px grey;
      border:none;
      outline: none;
      margin-top: 20px; 
  }

  .textInput{
      width: 100%;
      border-radius: 5px 0px 0px 05px;
      margin-bottom: 50px;
  }

  h1,
  .textInput,
  td,
  th,
  button
  {
    font-size: 40px;  
  }

  .button{
    background:#17A2B8;
    color: white;
    padding: 20px;
    box-shadow: 0px 0px 100px grey;
    width: 100%;
    border-radius: 0 5px 5px 0;
  }

  img{
      width: 100px;
      height: auto;
  }

  .complete{
      text-decoration:line-through;
  }

  footer{
      
      position: fixed;
      bottom: 0;
      width: 100%;
      box-shadow: 10px -10px 50px grey;
      height: 10%;
      background-color: black;
      justify-content: space-evenly;
      border-radius: 5px 5px 0 0;
      
  }

  .vl {
    border-left: 2px solid white;
    height: 500px;
  }


  /* ================================= 
  Media Queries
==================================== */


@media(min-width: 769px)
{

}