/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
	color: #093a58;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
	
}

.name a,
.main-nav a,
.name,
.main-nav li {
	text-align: center;
	padding: 5px;
}

.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

/* ---- Layout Containers ---- */

.banner {
	color: #fff;
	background: #3acec2;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.secondary,
.primary,
.tertiary{
 padding-left: 20px;
 padding-right: 20px;
}


.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
}

/* ---- Page Elements ---- */

.logo {
	width: 190px;
}

.main-footer{
	text-align: center;
}

/* ================================= 
  Media Queries
==================================== */



@media (min-width: 769px) {

	.name,
	.main-nav,
	.main-nav li{
		display: inline;
		
	}

	.main-nav{
		float: right;
	}

	.col{
		float: left;
		width: 30%;
		
		
	}
	.primary{
		float: left;
		width: 40%;
	}


	.container{
        width: 80%;
        max-width: 1000px;
        margin: auto;
    }
	

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}



}

