/* ================================= 
  Base Element Styles
==================================== */
*{

    box-sizing: border-box;
}
body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;

}

/* ================================= 
  Navigation
==================================== */

.name{
    margin:0;
    
    
}

h2,
h3,
a,
a:link {
	color: #093a58;
}

a:visited{
    color: #3acec2;
}

.name,
.main-nav li{
    text-align: center;
    background: #fff;
    margin-top: 6px;
    margin-bottom: 6px;
    
}
.container{
  padding-left: 1em;
  padding-right: 1em;
}

h1{
    margin-top: 0;
    color: #3acec2;
}

a { 
	color: #fff;
	text-decoration: none;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.main-header {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background: #3acec2;
	margin-bottom: 30px;
}

.main-footer {
	padding: 2em 0;
    background: #d9e4ea;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* ---- Page Elements ---- */


/* ================================= 
  Media Queries
==================================== */

@media(min-width: 769px){

    .name,
    .main-nav li,
    .main-nav{
        display: inline;
        
    }
    .container{
        width: 70%;
        max-width: 1000px;
        margin: auto;
    }

}