:root {
  --color-pink: #d83f87;
  --color-purple-1: #2a1b3d;
  --color-purple-2: #44318d;
  --color-purple-3: #7f6ca2;
  --color-teal-1: #a4b3b6;
  --box-shadow: 0 0 5px 1px #719ece;
  --color-sky-blue: #719ece; }

*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
  font-weight: 300; }

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-teal-1);
  background-image: linear-gradient(to right bottom, var(--color-purple-1), var(--color-purple-2), var(--color-purple-3));
  background-repeat: no-repeat; }

/***********Reuseable*****************/
.center {
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto; }

.hidden {
  display: none; }

/***********Nav*****************/
.nav-container {
  display: flex;
  background-color: #000;
  height: 5%;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 999; }

/***********Right side*****************/
.content {
  display: flex;
  position: relative;
  flex-wrap: wrap; }

/***********Left side*****************/
.sidebar-container {
  height: 100vh;
  position: fixed;
  padding: 0 0.5rem;
  background-image: linear-gradient(#000, #000, #333);
  z-index: 998; }
  @media only screen and (max-width: 665px) {
    .sidebar-container {
      display: flex;
      flex-direction: row;
      height: 15%;
      width: 100%; } }

.right-side {
  background-image: linear-gradient(to right bottom, var(--color-purple-1), var(--color-purple-2), var(--color-purple-3));
  display: flex;
  position: relative;
  padding: 5rem 2rem 0 2rem;
  flex-wrap: wrap;
  height: 100%;
  flex-grow: 1;
  justify-content: center;
  text-align: center; }

/***********Right Side*****************/
.start-icon {
  fill: var(--color-teal-1);
  transform: translateX(-150px);
  animation: walk 2s infinite; }

.speech {
  margin-top: 2rem;
  flex-basis: 100%; }

.side-icon {
  top: 0;
  width: 30px;
  height: 30px;
  fill: var(--color-teal-1);
  transition: all 0.5s; }

.loading {
  position: fixed; }
  @media only screen and (max-width: 665px) {
    .loading {
      margin-top: 100px;
      margin-right: 50px; } }

.loading-one {
  position: fixed; }
  .loading-one__start-icon-loading {
    fill: var(--color-teal-1);
    animation: slowdance 3s infinite; }
  @media only screen and (max-width: 665px) {
    .loading-one {
      margin-top: 100px;
      margin-right: 50px; } }

.side-icon:hover {
  fill: var(--color-sky-blue);
  cursor: pointer; }

/***********Nav*****************/
.search-container {
  display: flex;
  flex-grow: 0;
  flex-basis: 20%;
  transition: all 0.5s;
  align-items: center;
  border-radius: 5px; }
  @media only screen and (max-width: 1400px) {
    .search-container {
      flex-basis: 40%; } }
  @media only screen and (max-width: 710px) {
    .search-container {
      flex-basis: 60%; } }
  @media only screen and (max-width: 665px) {
    .search-container {
      flex-basis: 75%; } }
  .search-container__search {
    width: 100%;
    margin-right: -1.5rem;
    outline: none;
    height: 2rem;
    padding: 0 1rem;
    border-radius: 5px;
    color: var(--color-purple-3);
    font-weight: 700; }
  .search-container__search:focus {
    border: 0;
    width: 100%;
    box-shadow: var(--box-shadow); }
  .search-container__search-icon {
    width: 15px;
    height: 15px;
    fill: var(--color-teal-1);
    cursor: pointer; }

.search-container:hover,
.search-container:active {
  flex-basis: 25%;
  border: 0;
  box-shadow: var(--box-shadow); }
  @media only screen and (max-width: 1400px) {
    .search-container:hover,
    .search-container:active {
      flex-basis: 45%; } }
  @media only screen and (max-width: 710px) {
    .search-container:hover,
    .search-container:active {
      flex-basis: 70%; } }
  @media only screen and (max-width: 665px) {
    .search-container:hover,
    .search-container:active {
      flex-basis: 100%; } }

.logo-container__logo {
  width: 70px;
  height: 40px;
  fill: var(--color-purple-3);
  transition: all 0.5s; }

.logo-container__logo:hover {
  fill: var(--color-sky-blue);
  cursor: pointer; }

/***********Side nav Icons*****************/
.icon-container {
  padding: 0 0.5rem;
  list-style: none; }
  .icon-container__item {
    margin-top: 10px; }
    @media only screen and (max-width: 665px) {
      .icon-container__item {
        margin-top: 0px; } }
  @media only screen and (max-width: 665px) {
    .icon-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 1000px; } }

.icon-container:first-child {
  margin-top: 4rem; }

/***********Chart*****************/
.charts {
  height: 360px;
  flex-basis: 49%;
  flex-grow: 1;
  margin-right: 1%;
  box-shadow: var(--box-shadow);
  visibility: hidden;
  position: relative; }
  @media only screen and (max-width: 710px) {
    .charts {
      flex-basis: 100%;
      width: 100%;
      box-shadow: none;
      margin-left: 10%; } }

.title-container {
  position: relative;
  flex-basis: 100%;
  height: 2%; }
  @media only screen and (max-width: 665px) {
    .title-container {
      margin-top: 50px; } }

.title {
  margin-bottom: 8rem; }

.title::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 5%;
  top: 35;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 10px;
  background-color: var(--color-pink); }

@keyframes walk {
  0% {
    transform: translateX(-150px); }
  50% {
    transform: translateX(150px); }
  51% { }
  80% {
    transform: rotateY(180deg); }
  100% {
    transform: translateX(-150px); } }

@keyframes slowdance {
  0% { }
  33% {
    transform: rotate(20deg); }
  75% {
    transform: rotate(-20deg); }
  100% {
    transform: rotate(0deg); } }
